<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarcodePrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BarcodePrinter.Properties.Settings>
            <setting name="processpoint" serializeAs="String">
                <value>alpha_001</value>
            </setting>
            <setting name="templatename" serializeAs="String">
                <value>\BarcodeTemplates\1P 中文带3C标志.无线电认证 （39X16.5).Lab</value>
            </setting>
        </BarcodePrinter.Properties.Settings>
    </userSettings>
</configuration>